.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.397);
 }
  
  .alert {
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: solid 1.5px #CCC;
    border-radius: 3px;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; }

.alert span{
    text-align: center;
    margin: 20px;
    color: #5a5356;
}

  
  button{ /*stäng knapp*/
    background: #ce4380;
    color: #ffffff;
    padding: 4.5px 10px;
    border: solid 1px #5c1835;
    border-radius: 2px;  
    margin-bottom: 5px;
  }