@charset "UTF-8";
/*fonts font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/
/*fonts font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Sans', sans-serif;*/
body {
  background: #e1a3a4;
  font-family: 'PT Sans', sans-serif;
  margin: 0; }

.container {
  margin: 0; }

.container {
  width: 25rem; }

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #ce4380;
  /*rgb(207, 48, 141); (230, 52, 141)*/
  margin: 40px 0 10px;
  font-size: 45px;
  text-align: center; }

@media (min-width: 768 px) {
  h1 {
    font-size: 60px; }
  .info {
    font-size: 19px; }
  .number {
    font-size: 40px; } }

.info {
  color: #5a5356;
  font-size: 15px;
  text-align: center;
  margin: 0 0 25px 0; }

#left {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  height: 250px;
  background-image: url(bilder/gris.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px; }

#right {
  position: relative;
  right: auto;
  top: auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 900px) {
  #left {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-position: right;
    background-size: 500px; }
  #right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    justify-content: flex-start; }
  .container {
    margin: auto 0; } }

select, input {
  margin: 0 4px;
  border: solid 1px #CCC;
  font-size: 18px;
  padding: 5px; }

input {
  width: 30%; }

.number {
  font-size: 30px;
  color: #ce4380; }

.number::after {
  content: "kr";
  font-size: 20px; }

.number.total {
  font-weight: bold; }

.text {
  display: block;
  font-size: 18px;
  color: #5a5356; }

form {
  display: flex;
  background: #FFF;
  padding: 15px;
  border-radius: 4px; }

.count {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif; }

.count p {
  text-align: center; }

.list::after {
  content: "";
  background: #fad8d9cb;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0px;
  left: 50%; }

.list {
  display: flex;
  justify-content: space-evenly;
  color: white;
  border-top: solid 1px #fad8d9dc;
  position: relative;
  margin-top: 15px; }

.list ul {
  margin: 0;
  padding: 0; }

.list h3 {
  color: white;
  font-weight: normal;
  border-bottom: 1.5px solid  #ce4380;
  display: inline-block;
  margin: 1em 0.3em; }

.list ul li {
  padding: 0;
  margin: 0 0 0 15px; }

.add {
  margin: 0;
  white-space: nowrap;
  background: #ce4380;
  color: #FFF;
  border: none;
  padding: 7px 10px;
  font-size: 18px;
  margin: 0 4px; }

.clearbutton {
  text-align: center; }

.clear {
  background: none;
  border-radius: 3px;
  border: solid 1px #4b4547;
  color: #ce4380;
  /* #4b4547;*/ }

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(168, 168, 168, 0.397); }

.alert {
  width: auto;
  height: auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: solid 1.5px #CCC;
  border-radius: 3px;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

.alert span {
  text-align: center;
  margin: 20px;
  color: #5a5356; }

button {
  /*stäng knapp*/
  background: #ce4380;
  color: #ffffff;
  padding: 4.5px 10px;
  border: solid 1px #5c1835;
  border-radius: 2px;
  margin-bottom: 5px; }
